# setup
PORT=8111
DOMAIN=localhost
NODE_ENV=development
# NODE_ENV=productions




# ADMIN credential
ADMIN_EMAIL=
ADMIN_PASSWORD=12345678
ADMIN_PHONE_NUMBER=


# SUPER_ADMIN credential
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PHONE_NUMBER=
SUPER_ADMIN_PASSWORD=


# url
FRONTEND_BASE_URL_1=http://localhost:3000
FRONTEND_BASE_URL_2=http://localhost:5173
FRONTEND_BASE_URL_3=http://76.13.129.56:4214
FRONTEND_BASE_URL_4=http://76.13.129.56:4214


BACKEND_BASE_URL=
AI_BACKEND_BASE_URL=
DATABASE_URL=




# AWS S3
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=
S3_BUCKET_NAME=


# cloudenary
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=


# email service provider
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=




# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION=5d
JWT_REFRESH_EXPIRATION=30d
RESET_PASS_TOKEN=
RESET_PASS_TOKEN_EXPIRES_IN=5m




# BCRYPT
SALT_ROUNDS=12




# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=




# weather api
WEATHER_API_KEY=
