# setup
PORT=
DOMAIN=localhost
NODE_ENV=development
# NODE_ENV=productions




# ADMIN credential
ADMIN_EMAIL=admin@domain.com
ADMIN_PASSWORD=12345678
ADMIN_PHONE_NUMBER=+8801321XXXX


# SUPER_ADMIN credential
SUPER_ADMIN_EMAIL=super_admin@domain.com
SUPER_ADMIN_PHONE_NUMBER=12345678
SUPER_ADMIN_PASSWORD=+8801321XXXXYZ


# url
FRONTEND_BASE_URL_1=http://localhost:3000
FRONTEND_BASE_URL_2=http://localhost:5173
FRONTEND_BASE_URL_3=
FRONTEND_BASE_URL_4=


BACKEND_BASE_URL=
AI_BACKEND_BASE_URL=
DATABASE_URL=




# AWS S3
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=
S3_BUCKET_NAME=


# cloudenary
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=


# email service provider
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="SMT Project <irfanofficial.work@gmail.com>"




# JWT
JWT_ACCESS_SECRET=your-jwt-access-token
JWT_REFRESH_SECRET=your-jwt-refresh-token
JWT_ACCESS_EXPIRES_IN=5d
JWT_REFRESH_EXPIRES_IN=30d

JWT_RESET_PASS_EXPIRES_IN=24 # 24hours




# BCRYPT
SALT_ROUNDS=12




# Redis
REDIS_HOST=
REDIS_PORT=10103
REDIS_USERNAME=
REDIS_PASSWORD=




# weather api
WEATHER_API_KEY=





